*.aux
*.gz
*.fdb_latexmk
*.fls
*.log
*.DS_Store  
*.csv
*.pkg
__pycache__/
*.py[cod]
*.*ml
chromedriver
*.bson
*.out
*.xdv
.vscode/
*.mat
*.asv
*.fig
*.bbl
*.bcf
*.blg
*.pdf
*.png
*.jpeg
sn-article-template/
figs
*.nav
*.snm
*.toc